<h2 class="page-header">6-10კვ სატრ. ჯიხური #<%= @tp.name %></h2>

<div class="row">
  <div class="col-sm-3">
    <%= render_data_menu(@tp, %w(direction04s pole04s)) %>
  </div>
  <div class="col-sm-9">
    <%= render_data(@tp) %>
  </div>
</div>