<h3>6-10კვ ფიდერი</h3>
<table class="table">
  <tr>
    <td><strong>შენიშვნა</strong></td>
    <td><%= @fider.description || '<span class="text-muted">(none)</span>'.html_safe %></td>
  </tr>
  <tr>
    <td><strong>ქვესადგური</strong></td>
    <td><%= @fider.substation.name %></td>
  </tr>
  <tr>
    <td><strong>მუნიციპალიტეტი</strong></td>
    <td><%= @fider.region %></td>
  </tr>
  <tr>
    <td><strong>სიგრძე</strong></td>
    <td><%= number_with_precision @fider.length %> კმ</td>
  </tr>
</table>