<div id="mapwrapper">
  <div id="mapregion"></div>
</div>

<div class="search">
  <div class="card">
    <form id="search-form">
      <input type="text" id="search-query" autocomplete="off">
      <button class="waves-effect waves-light btn btn-flat red accent-2 white-text">
        <i class="material-icons">search</i>

        <div class="preloader-wrapper active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </button>
    </form>
  </div>

  <div class="scrollable">
    <div class="card filters" id="search-filters">
      <div class="regions">
        <select class="browser-default" id="search-region">
          <option value="" selected>მუნიციპალიტეტი</option>
        </select>
      </div>

      <div id="search-types" class="small-padding types">

      </div>
    </div>

    <div class="output" id="search-output">
      <div class="card-panel small-padding">
        <div class="summary"></div>
      </div>

      <div class="card-panel no-padding">
        <div class="collection"></div>
      </div>
    </div>
  </div>
</div>

<div class="go-back">
  <a class="waves-effect waves-light btn btn-flat red accent-2 white-text" href="/">ვებ-გვერდზე დაბრუნება</a>
</div>

<div class="layers">
  <div class="card-panel no-padding">

    <!--<div class="regions">-->
      <!--<select class="browser-default" id="visible-region">-->
        <!--<option value="" selected>მუნიციპალიტეტი</option>-->
      <!--</select>-->
    <!--</div>-->

    <div id="visible-types" class="small-padding">
      
    </div>
  </div>
</div>

<%= javascript_include_tag 'client.js' %>
