<style type="text/css">
  #mapwrapper {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;

  }
  #mapregion {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
  }
  #messages {
    position: relative;
    text-align: center;
    z-index: 99;
  }
  #messages span {
    margin: 4px 0 0 0;
    background: #fce853;
    padding: 4px 8px;
    border: 1px solid #ffcc88;
  }
  #search {
    width: 300px;
    position: absolute;
    top: 8px;
    left: 100px;
  }
  #search-query {
    padding: 2px;
    width: 100%;
    border: 1px solid #ccc;
  }
  #search-output {
    display: none;
    background-color: rgba(255,255,255,200);
    max-height: 300px;
    overflow: scroll;
    padding: 4px;
    margin-top: 2px;
    border: 1px solid #ccc;
  }
  .search-summary {
    font-size: 0.9em;
    border-bottom: 1px solid #ccc;
    margin: -4px -2px 2px -2px;
    padding: 2px 4px;
  }
  .search-marker {
    cursor: pointer;
  }
  .search-marker:hover {
    background-color: rgba(230,255,230,100);
  }
</style>

<div id="mapwrapper">
  <div id="mapregion"></div>
  <div id="messages"><span>loading...</span></div>
  <div id="search">
    <input type="text" id="search-query" placeholder="ძებნა">
    <div id="search-output"></div>
  </div>
</div>

<script type="text/javascript" src="/bundle.js"></script>