<style type="text/css">
  #mapwrapper {
    position: absolute;
    left: 600px; right: 0; top: 0; bottom: 0;
  }
  #sidebar {
    position: absolute;
    left: 0; top: 0; bottom: 0;
    width: 600px;
    padding: 10px 0;
  }
  #mapregion {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
  }
  #messages {
    position: relative;
    text-align: center;
    z-index: 99;
  }
  #messages span {
    margin: 4px 0 0 0;
    background: #fce853;
    padding: 4px 8px;
    border: 1px solid #ffcc88;
  }
  .search-summary {
    font-size: 0.9em;
    border-bottom: 1px solid #ccc;
    margin: -4px -2px 2px -2px;
    padding: 2px 4px;
  }
  .search-marker {
    cursor: pointer;
  }
  .search-marker:hover {
    background-color: rgba(230,255,230,100);
  }
</style>

<div id="sidebar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <form id="search-form">
          <div class="form-group">
            <label>დასახელება</label>
            <input type="text" id="search-query" placeholder="სახელი" class="form-control">
          </div>

          <div class="form-group">
            <label>სახეობა</label>
            <select id="search-type" class="form-control">
              <option value="substation">ქვესადგური</option>
              <option value="tower">ხაზი</option>
              <option value="pole">ანძა</option>
              <option value="tp">ფიდერი</option>
            </select>
          </div>

          <div class="form-group">
            <label>რაიონი</label>
            <select id="search-region" class="form-control">
              <option value="">ყველა</option>
              <% @regions.each do |region| %>
              <option value="<%= region.id.to_s %>"><%= region.name.to_s %></option>
              <% end %>
            </select>
          </div>

          <div class="form-group">
            <button class="btn btn-primary">ძებნა</button>
          </div>
        </form>
      </div>
      <div id="search-output" class="col-md-6"></div>
    </div>
  </div>
</div>

<div id="mapwrapper">
  <div id="mapregion"></div>
  <div id="messages"><span>loading...</span></div>
</div>

<script type="text/javascript" src="/bundle.js"></script>
