<div id="sidebar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <form id="search-form">
          <div class="form-group">
            <label>დასახელება</label>
            <input type="text" id="search-query" placeholder="სახელი" class="form-control">
          </div>

          <div class="form-group">
            <label>სახეობა</label>
            <select id="search-type" class="form-control">
              <option value="substation">ქვესადგური</option>
              <option value="tower">ანძა</option>
              <option value="pole">ბოძი</option>
              <option value="tp">ჯიხური</option>
            </select>
          </div>

          <div class="form-group">
            <label>რაიონი</label>
            <select id="search-region" class="form-control">
              <option value="">ყველა</option>
              <% @regions.each do |region| %>
              <option value="<%= region.id.to_s %>"><%= region.name.to_s %></option>
              <% end %>
            </select>
          </div>

          <div class="form-group">
            <button class="btn btn-primary">ძებნა</button>
          </div>
        </form>
      </div>
      <div id="search-output" class="col-md-6"></div>
    </div>
  </div>
</div>

<div id="mapwrapper">
  <div id="mapregion"></div>
  <div id="messages"><span>loading...</span></div>
</div>

<%= javascript_include_tag "client" %>
