<style type="text/css">
  #mapregion {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
</style>

<div id="mapregion">
</div>

<script type="text/javascript" src="/bundle.js"></script>