<% poles = data %>

<div>
  <div class="pull-right compact-pagination">
    <%= will_paginate poles %>
  </div>
  <h3>6-10კვ ბოძები</h3>
</div>

<% if poles.any? %>
  <table class="table table-bordered table-hover">
    <% poles.each do |pole| %>
      <tr>
        <td>
          <a href="<%= objects_pole_url(pole) %>">
            6-10კვ საყრდენი #<strong><%= pole.name %></strong>
          </a>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <%= render partial: '/data/no_data' %>
<% end %>