<h2 class="page-header"><%= @substation.name %></h2>

<div class="row">
  <div class="col-sm-3">
    <%= render_data_menu(@substation, ['fiders', 'tps', 'poles']) %>
  </div>
  <div class="col-sm-9">
    <%= render_data(@substation) %>
  </div>
</div>

<h3 class="page-header">მდებარეობა რუკაზე</h3>
<%= render partial: '/data/points_map', locals: { points: [ @substation.location ] } %>