/*
 *= require_self
 *= require forma
 *= require_tree .
 */

#content {
  margin-top: 64px;
}

@media print {
  a[href]:after {
    content: none !important;
  }
  #footer, #userbox {
    display: none;
  }
}