@import "materialize/components/color";
$primary-color: color("materialize-red", "lighten-2");
@import "materialize";

#mapwrapper {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
}
#sidebar {
  display: none;
}

.search {
  position: absolute;
  z-index: 9;
  top: 12px;
  left: 90px;

  input {
    margin-bottom: 0;
    padding: 0 10px;
    width: 400px;
    border: none;
    vertical-align: middle;
    height: 3rem;

    &:focus {
      border: none !important;
    }
  }

  .btn {
    height: 100%;
    vertical-align: middle;
    height: 3rem;
    line-height: 3rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    .preloader-wrapper {
      display: none;
      width: 20px;
      height: 20px;
      vertical-align: text-bottom;

      .spinner-layer {
        border-color: white;
      }
    }

    &.loading {
      i {
        display: none;
      }
      .preloader-wrapper {
        display: inline-block;
      }
    }
  }

  .output {
    display: none;

    .collection {
      max-height: 400px;
      border: none;
      margin: 0;
      overflow-y: auto;
    }
  }
}

.layers {
  position: absolute;
  bottom: 5px;
  right: 15px;

  label {
    color: #2d2d2d;
  }

  .regions {
    margin-bottom: 10px;
  }
}

.card-panel {
  &.no-padding {
    padding: 0;
  }

  &.small-padding {
    padding: 10px 15px;
  }
}

#mapregion {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
}
#messages {
  position: relative;
  text-align: center;
  z-index: 99;
}
#messages span {
  margin: 4px 0 0 0;
  background: #fce853;
  padding: 4px 8px;
  border: 1px solid #ffcc88;
}
.search-summary {
  font-size: 0.9em;
  border-bottom: 1px solid #ccc;
  margin: -4px -2px 2px -2px;
  padding: 2px 4px;
}
.search-marker {
  cursor: pointer;
}
.search-marker:hover {
  background-color: rgba(230,255,230,1);
}