@import "materialize/components/color";

$primary-color: color("materialize-red", "lighten-2");
@import "materialize";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$sidebar-width: 20em;

* {
  box-sizing: border-box;
}

.map {
  position: absolute;
  left: 0;
  right: $sidebar-width;
  top: 0;
  bottom: 0;
}

.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: $sidebar-width;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  .info {
    flex-grow: 1;
    padding: 10px;

    .close-info {
      font-weight: bold;
      font-size: 50px;
      position: absolute;
      right: 15px;
      top: 0;
      display: none;
      line-height: 1;
    }

    h3 {
      font-size: 20px;
    }

    table {
      td {
        padding: 5px;
      }
    }
  }

  .go-back {
    padding: 5px;

    a {
      display: block;
    }
  }

  .layers {
    border-top: 1px solid #efefef;

    label {
      color: #2d2d2d;
    }
  }
}

.search {
  position: absolute;
  z-index: 9;
  top: 2px;
  left: 115px;

  $searchbar-height: 2.5rem;

  input {
    margin-bottom: 0;
    padding: 0 10px;
    width: 400px;
    border: none;
    vertical-align: middle;
    height: $searchbar-height;

    &:focus {
      border: none !important;
    }
  }

  .btn {
    height: 100%;
    vertical-align: middle;
    height: $searchbar-height;
    line-height: $searchbar-height;
    float: right;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    .preloader-wrapper {
      display: none;
      width: 20px;
      height: 20px;
      vertical-align: text-bottom;

      .spinner-layer {
        border-color: white;
      }
    }

    &.loading {
      i {
        display: none;
      }
      .preloader-wrapper {
        display: inline-block;
      }
    }
  }

  .card-panel, .card {
    margin-bottom: 0;
    position: static;
  }

  .filters {
    display: none;

    .types {
      column-count: 2;
    }
  }

  &.open .filters {
    display: block;
  }

  .scrollable {
    max-height: 500px;
    overflow-y: auto;
  }

  .output {
    display: none;

    .collection {
      border: none;
      margin: 0;

      .collection-item {
        cursor: pointer;

        .name {
          font-weight: bold;
        }

        .moreinfo {
          color: #666;
          font-size: .8em;
        }
      }
    }
  }
}

.no-padding {
  padding: 0;
}

.small-padding {
  padding: 10px 15px;
}

#mapregion {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.gm-style {
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    line-height: 1;
  }

  table {
    td {
      padding: 10px 5px;
    }
  }
}

.hover-window {
  position: fixed;
  opacity: 0;
  padding: 5px;
  background: white;
  border-radius: 3px;
  transition: .5s;

  &.show {
    opacity: 1;
  }
}

@mixin checkbox-custom($checked, $unchecked) {
  [type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
    content: $unchecked;
    font-family: "Material Icons";
    margin: 0;
    border: none !important;
    font-size: 18px;
    background: none !important;
    color: #b71c1c;
  }
  [type="checkbox"]:checked + label:before {
    top: 0;
    left: 0;
    transform: none;
    content: $checked;
    color: #33691e;
  }

  [type="checkbox"]:disabled + label:before {
    color: grey;
  }
}

.checkbox-eye {
  @include checkbox-custom('visibility', 'visibility_off');
}

.checkbox-search {
  @include checkbox-custom('label', 'label_outline');
}

.open-sidebar {
  position: absolute;
  right: 15px;
  top: 9px;
  display: none;
}

@media (max-width: 60em) {
  .map {
    right: 0;
  }

  .search {
    right: 100px;

    input {
      width: auto;
    }

    button {
      display: none;
    }

    &.open {
      left: 10px;
      right: 15px;

      button {
        display: inline-block;
      }
    }
  }

  .sidebar {
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    z-index: 99;

    &.closed {
      display: none;
    }

    .close-info {
      display: block !important;
    }
  }

  .open-sidebar {
    display: block;
  }
}