<h2 class="page-header">მიმართულება <%= @fider.number %> - ს/ჯ #<%= @fider.tp.name if @fider.tp.present? %></h2>

<div class="row">
  <div class="col-sm-3">
    <%= render_data_menu(@fider, %w(fider04s pole04s)) %>
  </div>
  <div class="col-sm-9">
    <%= render_data(@fider) %>
  </div>
</div>